/*Folha de Estilo de Cores do Circuito da Visão*/
.texto-preto-cv {
  color: #000 !important;
}

.label-preto-cv {
  background-color: #000;
}
.label-preto-cv[href]:hover,
.label-preto-cv[href]:focus {
  background-color: #3b3f4f;
}

.sucess-style{
  color: #47a839 !important;
  left: 405px !important;
}

.danger-style{
  color: #b4331e !important;
  left: 405px !important;
}
