/*Estilos destinados a formatação da frase principal da página 'Perdeu sua senha'*/
.titulo-perdeu-sua-senha {
  font-size: 1.9em;
  font-weight: 100;
  letter-spacing: -1px;
  text-align: center;
}

.ocultar-textos {
  display: none;
}

.mostrar-textos {
  display: block;
}

.big-icone {
  font-size: 4.5em;
}

.text-circuito-visao {
  color: #000000;
}

.box-separacao {
  padding-bottom: 30px;
}

.campo-dica span {
  line-height: 175%;
  text-align: justify;
}
